.Post {
  background-color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #35c7c3;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #124f4b;
}

.HeartOutline:hover {
  color: #f85032;
}
