/* .SearchBar input {
  border-radius: 20px;
  padding-left: 40px;
  color: #35c7c3;
  margin-bottom: 16px;
  border: 2px solid #35c7c3;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
} */